textarea {
  min-height: 60px !important;
  max-height: 400px !important;
}
.navbar-pink {
  background-color: hotpink !important;
  color: white !important;
}


.dropdown-menu{
  background-color: hotpink !important;
  color: white !important;
}

.dropdown-item:hover{
  background-color: black !important ;
  color: white !important ;
}


.navbar-pink button {
  background-color: white !important;
}

.navbar-pink * {
  color: white !important;
}


hr {
  border: 1px solid black !important;
  opacity: 1 !important;
}

.font-14px {
  font-size: 14px !important;
}
